.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 1;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.navbar_black{
    background-color: #111;
}
.navbar_logo{
    width: 80px;
    object-fit: contain;
    position: fixed;
    left: 20px;
}
.navbar_avtar{
    width: 30px;
    object-fit: contain;  
    position: fixed;
    right: 20px;
}